streamlit
python-dotenv
requests
pypdf
duckduckgo-search
ddgs
faiss-cpu
sentence-transformers
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-huggingface
langchain-text-splitters
langgraph
tavily-python
pydantic
langgraph-checkpoint-sqlite
